<div class="container">

    <app-title [titulo]="title"></app-title>
    
    <div class="row mt-3">
        <div class="col">
            <form (ngSubmit)="guardar()" [formGroup]="conversionForm">
                <div class="row ">
                    <div class="d-flex justify-content-around">

                        <label class="col-4 text-right col-form-label font-weight-light">No DE VIN</label>
                        <div class="col">                        
                            <!-- <input 
                                type="text"
                                class="form-control"
                                formControlName="numerovin"
                                maxlength="17"
                                placeholder="Ingresar el numero vin"        
                                /> -->
                            <app-input [parent]="conversionForm" nameInput="numerovin" placeholder="Ingresar el numero vin"></app-input>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row text-center">
                    <div class="col-6">
                        <div class="seccion">INICIO DE CONVERSION</div>
                    </div>
                    <div class="col-6">
                        <div class="seccion">INICIO DE CONVERSION</div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-6 border">CONVERSION MECANICA</div>
                    <div class="col-6 border">CONVERSION CILINDROS</div>

                    
                    <div class="col-6"><span>TECNICO MECANICO</span></div>
                    <div class="col-6"><span>TECNICO CILINDROS</span></div>

                    <div class="row">
                        <div class="col-6">

                            <label class="w-100 col-form-label text-start">Mecánica:</label>
                            <div class="col-sm-9">
                                <!-- <input 
                                    type="text"
                                    class="form-control"
                                    formControlName="mecanica"
                                    placeholder="Mecanica"        
                                /> -->
                                <app-input [parent]="conversionForm" nameInput="mecanica" placeholder="Mecanica"></app-input>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-block">
                                <label class="w-100 col-form-label text-start"><small>Linea y Frente:</small> </label>
                                <!-- <input 
                                    type="text"
                                    class="form-control form-control-sm w-100"
                                    formControlName="lineayfrente"
                                    placeholder="Ingresar linea y frente"
                                /> -->
                                <app-input [parent]="conversionForm" nameInput="lineayfrente" placeholder="Ingresar linea y frente"></app-input>
                            </div>
                            <div class="d-block">
                                <label class="w-100 col-form-label text-start">Perforación:</label>
                                <!-- <input 
                                    type="text"
                                    class="form-control form-control-sm"
                                    formControlName="perforacion"
                                    placeholder="Ingresar perforacion"        
                                /> -->
                                <app-input [parent]="conversionForm" nameInput="perforacion" placeholder="Ingresar perforacion"></app-input>
                            </div>
                            <div class="d-block">
                                <label class="w-100 col-form-label text-start">Cilindros:</label>
                                <app-input [parent]="conversionForm" nameInput="cilindros" placeholder="Ingresar cilindros"></app-input>
                                <!-- <input 
                                    type="text"
                                    class="form-control form-control-sm"
                                    formControlName="cilindros"
                                    placeholder="Ingresar cilindros"
                                    /> -->
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5 px-0">
                        <div class="col-6 border">
                            REVISION
                                <div class="row">
                                    <div class="col justify-between">
                                        <div>Calibración</div>
                                        <app-switch [parent]="conversionForm" name="calibracion"></app-switch>                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col justify-between">
                                        <div>Anticongelante</div>
                                        <app-switch [parent]="conversionForm" name="anticongelante"></app-switch>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col justify-between">
                                        <div>Fugas de agua</div>
                                        <app-switch [parent]="conversionForm" name="fugasagua"></app-switch>                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col justify-between">
                                        <div>Herramienta</div>
                                        <app-switch [parent]="conversionForm" name="herramienta"></app-switch>                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col justify-between">
                                        <div>Limpieza </div>
                                        <app-switch [parent]="conversionForm" name="limpieza"></app-switch>                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col justify-between">
                                        <div>Funcionamiento </div>
                                        <app-switch [parent]="conversionForm" name="funcionamiento"></app-switch>                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col justify-between">
                                        <div> Soporte de bateria </div>
                                        <app-switch [parent]="conversionForm" name="soporteBateria"></app-switch>                                        
                                    </div>
                                </div>
                        </div>
                        <!-- CILINDROS -->
                        <div class="col-6 border pl-1">
                            REVISION
                            <div class="row">                                
                                <div class="col justify-between">
                                    <div> Instalación </div>
                                    <app-switch [parent]="conversionForm" name="instalacion"></app-switch>                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col justify-between">
                                    <div>Fugas de gas</div>
                                    <app-switch [parent]="conversionForm" name="fugasGasCilindros"></app-switch>
                                </div>
                            </div>                       
                            <div class="row">
                                <div class="col justify-between">
                                    <div>Herramienta</div>
                                    <app-switch [parent]="conversionForm" name="herramientaCilindros"></app-switch>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col justify-between">
                                    <div > Limpieza  </div>
                                    <app-switch [parent]="conversionForm" name="limpiezaCilindros"></app-switch>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-6">
                            <div class="row">
                                <div class="col"> FIRMA DE SUPERVISOR
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="autorizaMecanica" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault"> Autoriza </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col"> FIRMA DE SUPERVISOR
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="autorizaCilindro" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault"> Autoriza </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <app-button [parent]="conversionForm" type="submit" desc="Guardar conversion" estilo="my-3" [isDisabled]="conversionForm.invalid"></app-button>
            </form>
        </div>
    </div>
</div>



<h6>Formulario Valido</h6>
<pre>{{ conversionForm.valid }}</pre>
<h6>Valores Formulario Conversion</h6>
<code>
    <pre>{{ conversionForm.value | json }}</pre>
</code>
