@mixin centerdiv {
    display: flex;
    justify-content: center;
    align-items: center;    
}

@mixin alignItemCenter {
    display: flex;
    align-items: center;    
}

@mixin shadow {
    -webkit-box-shadow: 10px 10px 11px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 11px -2px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 11px -2px rgba(0,0,0,0.75);
}

@mixin gradienteBackground {
    background: linear-gradient(to bottom right, $color-gradienteinicio, $color-gradientefin);
}

@mixin justify-between {
    display: flex;
    justify-content: space-between;
}

@mixin iconSize {
    border-radius: 4px;
    padding: 10px 12px 10px 12px;
}