$color-primary: #FFF;
$color-secondary: #adb5bd;

$color-white: $color-primary;
$color-grey: $color-secondary;
$color-whitelight:#F2F5FA;
$color-black: #000;
$color-blue: #085C9D;
$color-blue-profile: #153d77;
$color-side-menu: #0368b6;

