$color-primary:                          #FFF;
$color-secondary:                        #adb5bd;

$color-white:                              $color-primary;
$color-grey:                               $color-secondary;
$color-whitelight:                       #F2F5FA;
$color-black:                            #000;
$color-side-menu:                        #FFF;
$color-blue:                             #085C9D;
$color-blue-profile:                     #153d77;
$color-cornflowerblue:                   #6495ed;
$color-gradienteinicio:                  #143045;
$color-gradienteinicio2:                 #071b2b;
$color-gradientefin:                     #0065b2;
$color-green:                            #0ac729;
$color-red:                              #F00;

