@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'menu';
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/bootstrap.scss';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

body {
    font-family: Karla;
    color: $color-white;
}
a {
    text-decoration: none;
}

.gradiente {
    @include gradienteBackground;
}

.box {
    @include shadow;
    border-radius: 10px;    
    border: 1px solid $color-gradienteinicio;
    color: $color-grey;
    width: 400px;
    z-index: 2;
}

.centerDiv {
    @include centerdiv;
}

.justify-between {
    @include justify-between;
}

/* TITULO */
.titleCombucar {
    font-size: 21px;    
    font-weight: bold;
    color: $color-white;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2px 1px 21px 1px;
}

.titulo {
    font-size: 3vw;
    font-weight: bold;
}

.wrapper{
    align-items: stretch;
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    min-width: 0;
    transition: margin-left .3s ease-in-out,left .3s ease-in-out,margin-right .3s ease-in-out,right .3s ease-in-out;
}

.formBlack {
    color: $color-black;
}

.margenr{
    padding-left: 0px;
}

.circleButton {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 10px;
    text-align: center;
}

/* LOGIN */
.login {
    @include centerdiv;
    @include gradienteBackground;
    height: 100vh;
    width: 100vw;    
}

.login:after {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    z-index: 111;
}

/* PRECONVERSION */
.preconversionContainer {
    background-color: $color-white;
    padding: 42px 42px 0px 42px;
}

/* ICONS */
.iconContainer {
    align-items: center; 
    color:$color-white;
    opacity: 70%; 
    text-align: center;
}

.darker {
    background: linear-gradient(to bottom right, $color-gradienteinicio2, $color-gradienteinicio);
    color:$color-white;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;                    
    padding-top: 1em;
    padding-bottom: 2em;
}

.iconWhite {
    color: $color-white;
    font-size: 1.5rem; 
}

.iconBlue {
    color: $color-cornflowerblue;
    font-size: 1.2rem; 
}

.iconGreen {
    color: $color-green;
    font-size: 1.2rem; 
}

.hamburger {
    @include iconSize;
}

.iconLogout {
    color: $color-white;
    @include iconSize;
}

.rem1 {
    font-size: 1rem; 
}
.rem2 {
    font-size: 2rem; 
}
.rem3-5 {
    font-size: 3.5rem; 
}

.rem5 {
    font-size: 5rem; 
}