<!-- <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
    </div>
    <div class="dropdown mt-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
        Dropdown button
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>
</div>
 -->
<!-- OK -->
<!-- <nav id="sidebar" class="navbar navbar-expand-lg navbar-light bg-light"> -->
<!-- <pre>{{toogleMenu}}</pre> -->



<!-- NAVBAR -->
<nav id="sidebar" class="sidebar" [ngClass]="{'toggle': !toogleMenu}">

    <div class="navbarProps sidebarBrand lead">
        <img src="assets/brand/combucar.png" alt="" width="100" height="50" class="d-inline-block align-text-top">
        Combucar
    </div>
    <div class="container-fluid">

        <div class="profile">
            <img src="./assets/img/knait.svg" width="74" height="74" class="img-fluid rounded-circle mb-2" alt="profile info" />
            <div class="font-weight-bold"> Knait user </div>
            <small>Admin</small>
        </div>

        <div class="secciones">Principal</div>
        <div class="d-flex align-items-center text-grey">
            <i class="bi bi-pie-chart" style="font-size: 1.5rem; color: cornflowerblue;"></i>
            <span class="px-2">DashBoard</span>
        </div>

        <ul class="list-group">
            <li *ngFor="let item of dashboardMenu" class="list-group-item border-0" [routerLink]="item.ruta" routerLinkActive="active">
                {{ item.texto }}
            </li>
        </ul>

        <div class="secciones">Católogos</div>
        <div class="d-flex align-items-center text-grey mt-3">
            <i class="bi bi-clipboard-data" style="font-size: 1.5rem; color: cornflowerblue;"></i>
            <span class="px-2">Católogos</span>
        </div>
        <ul class="list-group">
            <li *ngFor="let item of catalogos" class="list-group-item border-0" [routerLink]="item.ruta" routerLinkActive="active">
                {{ item.texto }}
            </li>
        </ul>

        <div class="secciones">Seccion 1</div>
        <div class="d-flex align-items-center text-grey mt-3">
            <i class="bi bi-ui-checks" style="font-size: 1.5rem; color: cornflowerblue;"></i>
            <span class="px-2">Formatos</span>
        </div>
        <ul class="list-group">
            <li *ngFor="let item of formatosMenu" class="list-group-item border-0" [routerLink]="item.ruta" routerLinkActive="active">
                {{ item.texto }}
            </li>
        </ul>

        <div class="secciones">Seccion 2</div>
        <div class="d-flex align-items-center text-grey mt-3">
            <i class="bi bi-arrow-left-right" style="font-size: 1.5rem; color: cornflowerblue;"></i>
            <span class="px-2">Ingresos</span>
        </div>
        <ul class="list-group">
            <li *ngFor="let item of ingresosMenu" class="list-group-item border-0" [routerLink]="item.ruta" routerLinkActive="active">
                {{ item.texto }}
            </li>
        </ul>

        <div class="secciones">Seccion 3</div>
        <div class="d-flex align-items-center text-grey mt-3">
            <i class="bi bi-info-circle" style="font-size: 1.5rem; color: cornflowerblue;"></i>
            <span class="px-2">Acerca</span>
        </div>
        <ul class="list-group">
            <li *ngFor="let item of informacionMenu" class="list-group-item border-0" [routerLink]="item.ruta" routerLinkActive="active">
                {{ item.texto }}
            </li>
        </ul>

    </div>

</nav>


<!-- <div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        DashBoard
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Ingreso
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Formatos
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
    </div>
  </div>
</div> -->
