
<nav id="sidebar" class="sidebar" [ngClass]="{'toggle': !toogleMenu}">

    <div class="container-fluid" >

        <div style="padding: 12px;">
            <div class="secciones">Directivos</div>
            <div class="leftMenuTitle">
                <i class="bi bi-pie-chart iconWhite"></i>
                <span class="px-2 subseccion">Reportes Directivos</span>
            </div>
            <ul class="list-group">
                <li *ngFor="let item of dashboardMenu" class="list-group-item border-0 menuitem" [routerLink]="item.ruta" routerLinkActive="active">
                    {{ item.texto }}
                </li>
            </ul>
        </div>

        <div style="padding: 12px;">
            <div class="secciones">OPERACI&Oacute;N EN TALLER</div>
            <div class="leftMenuTitle mt-3">
                <i class="bi bi-ui-checks iconWhite" ></i>
                <span class="px-2 subseccion">PROCESOS</span>
            </div>
            <ul class="list-group" (click)="toggleMenu()">
                <li *ngFor="let item of formatosMenu" class="list-group-item border-0 menuitem" [routerLink]="item.ruta" routerLinkActive="active">
                    {{ item.texto }}
                </li>
            </ul>
        </div>

        <div style="padding: 12px;">
            <div class="leftMenuTitle mt-3">
                <i class="bi bi-arrow-left-right iconWhite" ></i>
                <span class="px-2 subseccion">Contacto Cliente</span>
            </div>
            <ul class="list-group">
                <li *ngFor="let item of ingresosMenu" class="list-group-item border-0 menuitem" [routerLink]="item.ruta" routerLinkActive="active">
                    {{ item.texto }}
                </li>
            </ul>
        </div>

        <div style="padding: 12px;">
            <div class="leftMenuTitle mt-3">
                <i class="bi bi-clipboard-data iconWhite" ></i>
                <span class="px-2 subseccion" >Entidades</span>
            </div>
            <ul class="list-group">
                <li *ngFor="let item of catalogos" class="list-group-item border-0 menuitem" [routerLink]="item.ruta" routerLinkActive="active">
                    {{ item.texto }}
                </li>
            </ul>
        </div>

        <div class="leftMenuTitle mt-3">
            <i class="bi bi-info-circle iconWhite" ></i>
            <span class="px-2 subseccion">Acerca</span>
        </div>
        <ul class="list-group">
            <li *ngFor="let item of informacionMenu" class="list-group-item border-0 menuitem" [routerLink]="item.ruta" routerLinkActive="active">
                {{ item.texto }}
            </li>
        </ul>
        
    </div>

</nav>