
<div class="row">
    <div class="col-4">
        <div class="iconContainer darker">            
            <app-button type="icon" desc="Pre-Conversi&oacute;n" estilo="bi-card-checklist iconGreen rem3-5" (onClick)="preconversion($event)" [isDisabled]="false"></app-button>
        </div>
    </div>
    <div class="col-4">
        <div class="iconContainer">
            <app-button type="icon" desc="PROCESOS" estilo="bi-ui-checks iconBlue rem5" (onClick)="preconversion($event)" [isDisabled]="false"></app-button>
        </div>
    </div>
    <div class="col-4">
        <div class="iconContainer">
            <app-button type="icon" desc="Recepci&oacute;n y Entrega" estilo="bi-arrow-left-right iconBlue rem5" (onClick)="preconversion($event)" [isDisabled]="false"></app-button>
        </div>
    </div>
</div>