<app-title [titulo]="title"></app-title>

<div class="container preconversionContainer formBlack">

    <form (ngSubmit)="guardarPreconversion()" [formGroup]="preconversionForm">

        <!-- <div *ngIf="value" class="mb-3">
                <pre>Te falta llenar los datos del formulario {{value}} </pre>
        </div> -->
        <tabset #staticTabs>
            <tab heading="Cliente" (selectTab)="onSelectTab($event)"> 
                
                <!-- <TABLE style="width: 100%; text-align: center; margin: 40px;">
                    <TR>
                    <TD>
                        <div style="align-items: center; color:#143045;opacity: 70%; width: 350px; text-align: center;"
                            (click)="showCliente()">
                            <i class="bi bi-ui-checks" style="font-size: 5rem; color: cornflowerblue;"></i>
                            <h1>Cliente</h1>
                        </div>
                    </TD>
                    <TD>
                        <div style="align-items: center; color:#143045;opacity: 70%; width: 350px; text-align: center;" 
                            (click)="showUnidad()">
                            <i class="bi bi-arrow-left-right" style="font-size: 5rem; color: cornflowerblue;"></i>
                            <h1>Unidad</h1>
                        </div>
                    </TD>
                    </TR>
                </TABLE> -->
                
                <div class="row  centerDiv text-center">
                    <div class="col-6">
                        <app-button type="icon" desc="Cliente" estilo="bi-ui-checks iconBlue rem5" (onClick)="showCliente($event)" [isDisabled]="false"></app-button>
                    </div>
                    <div class="col-6">
                        <app-button type="icon" desc="Unidad" estilo="bi-arrow-left-right iconBlue rem5" (onClick)="showUnidad($event)" [isDisabled]="false"></app-button>
                    </div>
                </div>

                <div class="my-3">
                    <div *ngIf="toggleCliente">
                        <app-cliente [preconversionForm]="preconversionForm" [staticTabs]="staticTabs"></app-cliente>
                    </div>
                    <div *ngIf="toggleUnidad">
                        <app-unidad [preconversionForm]="preconversionForm"></app-unidad>
                    </div>
                </div>
            </tab>
            
            <tab heading="Inspección" (selectTab)="onSelectTab($event)"> 
                <app-inspeccion [preconversionForm]="preconversionForm" [staticTabs]="staticTabs"></app-inspeccion>
            </tab>
            <tab heading="Sistema Eléctrico" (selectTab)="onSelectTab($event)">
                <app-sistema-electrico [preconversionForm]="preconversionForm" [staticTabs]="staticTabs"></app-sistema-electrico>
            </tab>
            <tab heading="Sistema de Encendido/Inyección" (selectTab)="onSelectTab($event)">
                <app-sistema-encendido-inyeccion [preconversionForm]="preconversionForm" [staticTabs]="staticTabs"></app-sistema-encendido-inyeccion>
            </tab>
        </tabset>
        
    </form>
</div>