<app-title [titulo]="title"></app-title>

<div class="container" style="background: white; padding: 42px 42px 0px 42px;">

    <form (ngSubmit)="guardarPreconversion()" [formGroup]="preconversionForm">

        <!-- <div *ngIf="value" class="mb-3">
                <pre>Te falta llenar los datos del formulario {{value}} </pre>
        </div> -->
        <tabset #staticTabs>
            <tab heading="Cliente" (selectTab)="onSelectTab($event)"> 
                
                <TABLE style="width: 100%; text-align: center; margin: 40px;">
                    <TR>
                    <TD>
                        <div style="align-items: center; color:#143045;opacity: 70%; width: 350px; text-align: center;"
                            (click)="buscarcliente()"
                        >
                            <i class="bi bi-ui-checks" style="font-size: 5rem; color: cornflowerblue;"></i>
                            <h1>Cliente</h1>
                        </div>
                    </TD>
                    <TD>
                        <div style="align-items: center; color:#143045;opacity: 70%; width: 350px; text-align: center;">
                            <i class="bi bi-arrow-left-right" style="font-size: 5rem; color: cornflowerblue;"></i>
                            <h1>Unidad</h1>
                        </div>
                    </TD>
                    </TR>
                </TABLE>

                <div *ngIf="toogleCliente">
                    <app-cliente [preconversionForm]="preconversionForm" [staticTabs]="staticTabs"></app-cliente>
                </div>


            </tab>
            <tab heading="Inspección" (selectTab)="onSelectTab($event)"> 
                <app-inspeccion [preconversionForm]="preconversionForm" [staticTabs]="staticTabs"></app-inspeccion>
            </tab>
            <tab heading="Sistema Eléctrico" (selectTab)="onSelectTab($event)">
                <app-sistema-electrico [preconversionForm]="preconversionForm" [staticTabs]="staticTabs"></app-sistema-electrico>
            </tab>
            <tab heading="Sistema de Encendido/Inyección" (selectTab)="onSelectTab($event)">
                <app-sistema-encendido-inyeccion [preconversionForm]="preconversionForm" [staticTabs]="staticTabs"></app-sistema-encendido-inyeccion>
            </tab>
        </tabset>
        
        <div style="padding: 42px; text-align: center;">
            
                <button type="submit" class="btn btn-outline-primary">
                    SIGUIENTE
                </button>
            
        </div>

    </form>
</div>

<!-- <div *ngIf="value === 'Encendido/Inyección'">
    <div class="row">
        <div class="col">
            <h1>Formulario valido</h1>
            {{ preconversionForm.valid }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            
            <h1>Formulario errores></h1>
            {{ preconversionForm.controls?.monoxidocarbono?.errors | json  }}
        </div>
    </div>
    <div >
        <h1>Formulario 866-700</h1>
        <pre>{{ preconversionForm.value | json}}</pre>
    </div>
</div> -->

