        <div class="text-center formBlack">
            <h5>Diagnóstico sistema de Encendido/Inyección</h5>
        </div>
        <div class="row formBlack" [formGroup]="preconversionForm">
            <div class="col-sm-12 col-md-6">
                <div class="row row-cols-4">
                    <div class="col-4 border text-center"> Sis. de alta tensión </div>
                    <div class="col-3 border text-center"> Medición </div>
                    <div class="col-3 border text-center"> Parámetro </div>
                    <div class="col-2 border text-center"> B/M </div>
            
                    <div class="col-4 border">Bujias</div>
                    <div class="col-3 border"><app-input [parent]="preconversionForm" nameInput="bujias" placeholder="Bujias"></app-input> </div>
                    <div class="col-3 border"> máx. 6k </div>
                    <div class="col-2 border centerDiv"> 
                        <app-switch [parent]="preconversionForm" name="bujiascheck"></app-switch>
                    </div>
                    

                    <div class="col-4 border">Cables de bujias</div>
                    <div class="col-3 border"><app-input [parent]="preconversionForm" nameInput="cablesbujias" placeholder="Cables de bujias"></app-input> </div>                       
                    <div class="col-3 border"> máx. 8-9k </div>
                    <div class="col-2 border centerDiv"> 
                        <app-switch [parent]="preconversionForm" name="cablesbujiascheck"></app-switch>
                    </div>

                    <div class="col-4 border">Rotor</div>
                    <div class="col-3 border"> <app-input [parent]="preconversionForm" nameInput="rotor" placeholder="Rotor"></app-input> </div>                       
                    <div class="col-3 border"> 0 Ohmios </div>
                    <div class="col-2 border centerDiv"> 
                        <app-switch [parent]="preconversionForm" name="rotorcheck"></app-switch>
                    </div>

                    <div class="col-4 border">Contactos tapa distrib</div>
                    <div class="col-3 border"> <app-input [parent]="preconversionForm" nameInput="contactostapa" placeholder="Contactos tapa distrib"></app-input> </div>                       
                    <div class="col-3 border"> 0 Ohmios </div>
                    <div class="col-2 border centerDiv"> 
                        <app-switch [parent]="preconversionForm" name="contactostapacheck"></app-switch>
                    </div>                    
                </div>
                <div class="row"><div class="col-22">&nbsp;</div></div>
                <div class="row row-cols-5">
                    <div class="col-4 border text-center"> Sistema de inyecciòn </div>
                    <div class="col-3 border text-center"> Medición </div>
                    <div class="col-3 border text-center"> Parámetro </div>
                    <div class="col-2 border text-center"> B/M </div>
            
                    <div class="col-4 text-left border">R de inyectores</div>
                    <div class="col-3 text-left border"> <app-input [parent]="preconversionForm" nameInput="rinyectores" placeholder="R de inyectores"></app-input>  </div>                      
                    <div class="col-3 text-center border">11/17 ohmios</div>
                    <div class="col-2 text-left border centerDiv"> 
                        <app-switch [parent]="preconversionForm" name="rinyectorescheck"></app-switch>
                    </div>

                    <div class="col-4 text-left border">Ajuste corto</div>
                    <div class="col-3 border"> <app-input [parent]="preconversionForm" nameInput="ajustecorto" placeholder="Ajuste corto"></app-input> </div>
                    <div class="col-3 border">oscilacion cercana a 0</div>
                    <div class="col-2 border centerDiv"> 
                        <app-switch [parent]="preconversionForm" name="ajustecortocheck"></app-switch>
                    </div>

                    <div class="col-4 text-left border">Ajuste largo</div>
                    <div class="col-3 border"> <app-input [parent]="preconversionForm" nameInput="ajustelargo" placeholder="Ajuste largo"></app-input> </div>                
                    <div class="col-3 border">cercano a 0</div>
                    <div class="col-2 border centerDiv"> 
                        <app-switch [parent]="preconversionForm" name="ajustelargocheck"></app-switch>
                    </div>                    
                </div>
            </div>

           <div class="d-xs-none col-md-1"></div>

           <div class="col-sm-12 col-md-5 margenr">
               <div class="row row-cols-5">

                    <div class="col-4 border text-center">Caida de tensión </div>
                    <div class="col-3 border text-center">Medición </div>
                    <div class="col-3 border text-center">Parámetro </div>
                    <div class="col-2 border text-center">B/M</div>
            
                    <div class="col-4 text-left border">Alimentación bobina</div>
                    <div class="col-3 text-left border"> <app-input [parent]="preconversionForm" nameInput="alimentacionbobina" placeholder="Alimentación bobina"></app-input> </div>                     
                    <div class="col-3 text-center border">500 mV máx.</div>
                    <div class="col-2 text-left border centerDiv"> 
                        <app-switch [parent]="preconversionForm" name="alimentacionbobinacheck"></app-switch>
                    </div>

                    <div class="col-4 text-left border">Alimentación transistor Pot.</div>
                    <div class="col-3 text-left border"> <app-input [parent]="preconversionForm" nameInput="alimentaciontransistor" placeholder="Alimentación bobina"></app-input> </div>
                        
                    <div class="col-3 text-center border">500 mV máx.</div>
                    <div class="col-2 text-left border centerDiv"> 
                        <app-switch [parent]="preconversionForm" name="alimentaciontransistorcheck"></app-switch>
                    </div>

                    <div class="col-4 text-left border">Masa módular distribuidor</div>
                    <div class="col-3 text-left border"> <app-input [parent]="preconversionForm" nameInput="masamodulardist" placeholder="Masa módular distribuidor"></app-input> </div>
                    <div class="col-3 text-center border">200 mV máx.</div>
                    <div class="col-2 text-left border centerDiv"> 
                        <app-switch [parent]="preconversionForm" name="masamodulardistcheck"></app-switch>
                    </div>
               </div>
           </div>
        </div>

        <div style="padding: 42px; text-align: center;">
            <app-button [parent]="preconversionForm" type="submit" desc="Guardar" estilo="shadow" [isDisabled]="preconversionForm.invalid"></app-button>
        </div>