<div class="row">
    <div class="col">
        
       <!--  <div class="row">
            
            <div class="col-2"> Fecha </div>
            <div class="col-auto"> 
                <app-datetime [parent]="preconversionForm" nameInput="fechaActual" placeholder="Fecha Actual"></app-datetime>
            </div>

            <div class="col"> 
                <div class="row">
                    <div class="col-xs-3 col-sm-4"> Hora entrada </div>
                    <div class="col-sm-8"> 
                        <app-datetime [parent]="preconversionForm" nameInput="horaentrada" placeholder="Hora entrada"></app-datetime>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-sm-4"> Hora termino </div>
                        <div class="col-sm-8"> 
                            <app-datetime [parent]="preconversionForm" nameInput="horatermino" placeholder="Hora termino"></app-datetime>
                        </div>
                </div>
            </div>
        </div> -->

        <div class="row">            
            <div class="col-sm-8 col-xs-12 d-flex align-items-center justify-content-center">
                <div style="color:#143045;opacity: 70%; width: 34px;">
                    <i class="bi bi-search" style="font-size: 1rem; color: cornflowerblue;"></i>
                </div>
                <div style="width: 361px;">
                    <app-input [parent]="preconversionForm" nameInput="buscarNombreCliente" placeholder="buscar cliente"></app-input>                                        
                </div>
                <button type="button" (click)="buscarCliente()" class="btn btn-outline-primary btn-block mx-2">
                    Buscar
                </button>
            </div>            
        </div>
        
    </div>
</div>

<hr />
<div class="row">
    <div class="col shadow-sm">
        
        <!-- Informacion Cliente -->
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-12 text-center"> <h5>Informacion Cliente</h5> </div>
                        </div>
                        <div class="row">
                            <div class="col-4">Nombre</div>
                            <div class="col-sm-7 col-xs-12">                                          
                                <app-input [parent]="preconversionForm" nameInput="nombreCliente"  placeholder="Ingresar nombre"></app-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">Teléfono</div>
                            <div class="col-sm-7 col-xs-12">  
                                <app-input [parent]="preconversionForm" nameInput="telefonoCliente"  placeholder="Ingresar Teléfono"></app-input>                                        
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">Vendedor</div>
                            <div class="col-sm-7 col-xs-12">  
                                <app-input [parent]="preconversionForm" nameInput="vendedor"  placeholder="Ingresar vendedor"></app-input>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">

                <div class="row">
                    <div class="col-12 text-center"> <h5> Información Vehiculo </h5></div>
                </div>

                <div class="row">
                    <div class="col">Marca</div>
                    <div class="col">  
                        <app-input [parent]="preconversionForm" nameInput="marca"  placeholder="Marca"></app-input>                                
                    </div>
                    <div class="col">  Ruta </div>
                    <div class="col">  
                        <app-input [parent]="preconversionForm" nameInput="ruta" placeholder="Ruta"></app-input>                                
                    </div>
                </div>
                <div class="row">
                    <div class="col">  Tipo  </div>
                    <div class="col">  
                        <app-input [parent]="preconversionForm" nameInput="tipo" placeholder="Tipo"></app-input>                                                                
                    </div>
                    <div class="col">  Placa  </div>
                    <div class="col">  
                        <app-input [parent]="preconversionForm" nameInput="placa" placeholder="Placa"></app-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col">  Año  </div>
                    <div class="col">  
                        <app-input [parent]="preconversionForm" nameInput="anio" placeholder="Año"></app-input>                                
                    </div>
                    <div class="col">  CARB/SPI  </div>
                    <div class="col">
                        <app-input [parent]="preconversionForm" nameInput="carbspi" placeholder="CARB / SPI"></app-input>                                
                    </div>
                </div>
                <div class="row">
                    <div class="col">  No ECO  </div>
                    <div class="col">  
                        <app-input [parent]="preconversionForm" nameInput="eco" placeholder="ECO"></app-input>                                                                
                    </div>
                    <div class="col">  MPFI  </div>
                    <div class="col">  
                        <app-input [parent]="preconversionForm" nameInput="mpfi" placeholder="mpfi"></app-input>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row">
    <div class="col-12">
        <button type="button" (click)="selectTab(1)" class="btn btn-outline-primary btn-block float-end">
            Siguiente
        </button>
    </div>
</div> -->