<app-title [titulo]="titulo"></app-title>

<hr>
<form (ngSubmit)="guardar()" [formGroup]="unidadForm">
    <div class="form-group row">
        <label class="col-2 col-form-label">Serie</label>
        <div class="col-8">
            <app-input [parent]="unidadForm" nameInput="serie" placeholder="Serie"></app-input>
            <!-- <input class="form-control" type="text" placeholder="Serie" formControlName="serie" [class.is-invalid]="isSerieInvalid">
            <small class="text-danger" *ngIf="isSerieInvalid">Ingrese la serie de la unidad</small> -->
        </div>
    </div>

    <div class="form-group row mt-2">
        <label class="col-2 col-form-label">Marca</label>
        <div class="col-8">
            <app-input [parent]="unidadForm" nameInput="marca" placeholder="Marca"></app-input>
            <!-- <input class="form-control" type="text" placeholder="Marca" formControlName="marca" [class.is-invalid]="isMarcaInvalid">
            <small class="text-danger" *ngIf="isMarcaInvalid">Ingrese la marca de la unidad</small> -->
        </div>
    </div>


    <div class="form-group row mt-2">
        <label class="col-2 col-form-label">Placas</label>
        <div class="col-8">
            <app-input [parent]="unidadForm" nameInput="placas" placeholder="Placas"></app-input>
            <!-- <input class="form-control" type="text" placeholder="Placas" formControlName="placas" [class.is-invalid]="isPlacasInvalid">
            <small class="text-danger" *ngIf="isPlacasInvalid">Ingrese las placas de la unidad</small> -->
        </div>
    </div>

    <div class="form-group row mt-2">
        <label class="col-2 col-form-label">Tipo</label>
        <div class="col-8">
            <app-input [parent]="unidadForm" nameInput="tipo" placeholder="Tipo"></app-input>
            <!-- <input class="form-control" type="text" placeholder="Tipo" formControlName="tipo"> -->
        </div>
    </div>

    <div class="form-group row mt-2">
        <label class="col-2 col-form-label">Kilometraje (Km)</label>
        <div class="col-8">
            <app-input [parent]="unidadForm" nameInput="kilometraje" placeholder="Kilometraje"></app-input>
            <!-- <input class="form-control" type="text" placeholder="Kilometraje" formControlName="kilometraje" [class.is-invalid]="isKilometrajeInvalid">
            <small class="text-danger" *ngIf="isKilometrajeInvalid">Ingrese el kilometraje de la unidad</small> -->
        </div>
    </div>

    <div class="form-group row mt-5">
        <label class="col-2 col-form-label">Cilindros</label>
        <div class="col-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Serie</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Capacidad</th>
                        <th scope="col">Fecha de Fabricación</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cilindro of cilindros; let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{cilindro.serie}}</td>
                        <td>{{cilindro.marca}}</td>
                        <td>{{cilindro.capacidad}}</td>
                        <td>{{cilindro.fechaFabricacion | date:'dd/MM/yyyy'}}</td>
                        <td></td>
                    </tr>
                </tbody>
                <tfoot formGroupName="cilindro">
                    <tr>
                        <td></td>
                        <td><input class="form-control" type="text" placeholder="Serie" formControlName="serie" [class.is-invalid]="isCilindroSerieInvalid"></td>
                        <td><input class="form-control" type="text" placeholder="Marca" formControlName="marca" [class.is-invalid]="isCilindroMarcaInvalid"></td>
                        <td><input class="form-control" type="text" placeholder="Tipo" formControlName="capacidad"></td>
                        <td><input class="form-control" type="date" placeholder="Fecha de fabricación" formControlName="fechaFabricacion" [class.is-invalid]="isCilindroFechaFabricacionInvalid"></td>
                        <td><button type='button' (click)="agregarCilindro()" class="btn btn-outline-primary btn-block">Agregar</button></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="form-group row mt-2">
        <div class="col-4"></div>
        <div class="d-grid gap-2 col-4 mx-auto">
            <!-- <button type="submit" class="btn btn-primary">Guardar</button> -->
            <app-button [parent]="unidadForm" type="submit" desc="Guardar" estilo="" [isDisabled]="!unidadForm.invalid"></app-button>
        </div>
    </div>
</form>

<div class="mt-5"></div>

<div class="container mt-5 mb-5">

    <div class="row border-bottom border-dark fw-bold">
        <div class="col-1">#</div>
        <div class="col">Serie</div>
        <div class="col">Marca</div>
        <div class="col">Placas</div>
        <div class="col">Tipo</div>
        <div class="col">Kilometraje</div>
    </div>
    <div class="row mt-2 border-bottom pb-2" *ngFor="let unidad of unidades; let i = index" >
        <div class="col">
            <div class="row">
                <div class="col-1">{{i+1}}</div>
                <div class="col">{{unidad.serie}}</div>
                <div class="col">{{unidad.marca}}</div>
                <div class="col">{{unidad.placas}}</div>
                <div class="col">{{unidad.tipo}}</div>
                <div class="col">{{unidad.kilometraje}}</div>
            </div>
            <div class="row mt-2">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="row">
                        <div class="col text-center fw-bold">Cilindros</div>
                    </div>
                    <div class="row border-bottom border-dark fw-bold mt-1">
                        <div class="col-1">#</div>
                        <div class="col">Serie</div>
                        <div class="col">Marca</div>
                        <div class="col">Capacidad</div>
                        <div class="col">Fecha de Fabricación</div>
                    </div>
                    <div class="row mt-1" *ngFor="let cilindro of unidad.cilindros; let c = index">
                        <div class="col-1">{{c+1}}</div>
                        <div class="col">{{cilindro.serie}}</div>
                        <div class="col">{{cilindro.marca}}</div>
                        <div class="col">{{cilindro.capacidad}}</div>
                        <div class="col">{{cilindro.fechaFabricacion | date:'dd/MM/yyyy'}}</div>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>
</div>
